@import "../../../styles/constants/index.scss";
@import "../../../styles/mixins";

$size: 1.5rem;
$transparent: transparent;
$skill_color: $green_25;
$skill_border: $blue_25;
$skill_border_dark: $white_25;

.Skill {
  &__Circle {
    @include circle($size, $transparent, $skill_border);

    &_Filled {
      @include circle($size, $skill_color, $skill_border);
    }

    &_HalfFilled {
      @include circle-half-painted($size, $skill_color, $skill_border);
    }

    &--dark {
      @include circle($size, $transparent, $skill_border_dark);
      box-shadow: unset;

      &_Filled {
        @include circle($size, $skill_color, $skill_border_dark);
        box-shadow: unset !important;
      }

      &_HalfFilled {
        @include circle-half-painted($size, $skill_color, $skill_border_dark);
        box-shadow: unset !important;
      }
    }
  }
}
