$white: #ffffff;
$white_25: #d6dbdc;
$white_50: #fafaf7;

$black: #000000;
$black_25: #282828;

$gray_25: #a09e9e;

$blue_10: #9de1f0;
$blue_25: #2b3a57;

$green_10: #aeb9b0a3;
$green_25: #aeb9b0;
$green_50: #6b756c;

$orange_25: #fac898;
