@import "colors";

// Light theme
$light-foreground: $blue_25;
$light-background-start: $white_25;
$light-background-end: $white;

// Dark theme
$dark-foreground: $white_50;
$dark-background-start: $black;
$dark-background-end: $black_25;
