@mixin theme-color($foreground) {
  color: $foreground;
}

@mixin theme-background($background-start, $background-end) {
  background: linear-gradient(to bottom, transparent, $background-end)
    $background-start;
}

@mixin blur($blurPx: 5px) {
  backdrop-filter: blur($blurPx);
}

@mixin circle($size, $color, $border-color: black) {
  height: $size;
  width: $size;
  background-color: $color;
  border-radius: 5rem;
  border-style: solid;
  border-width: 0.7px;
  border-color: $border-color;
  box-shadow: 2px 2px 4px $gray_25;
}

@mixin circle-half-painted($size, $color, $border-color: black) {
  width: $size;
  height: $size;
  background: linear-gradient(90deg, $color, $color 50%, transparent 50%);
  border-radius: 5rem;
  border-style: solid;
  border-width: 0.7px;
  border-color: $border-color;
  box-shadow: 2px 2px 4px $gray_25;
}

@mixin half-circle($size, $color, $border-color: black) {
  width: calc($size / 2);
  height: $size;
  background-color: $color;
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  border-style: solid;
  border-width: 0.7px;
  border-color: $border-color;
  box-shadow: 2px 2px 4px $gray_25;
}
