@mixin theme-colors(
  $foreground,
  $background-start,
  $background-end
) {
  color: $foreground;
  background: linear-gradient(to bottom, transparent, $background-end)
    $background-start;
}

@mixin blur($blurPx: 5px) {
  backdrop-filter: blur($blurPx);
}