@tailwind base;
@tailwind components;
@tailwind utilities;

@import "constants/index";
@import "effects/index";
@import "mixins";

:root {
  --foreground: #{$light-foreground};
  --background-start: #{$light-background-start};
  --background-end: #{$light-background-end};
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #{$dark-foreground};
    --background-start: #{$dark-background-start};
    --background-end: #{$dark-background-end};
  }
}

html {
  scroll-behavior: smooth;

  &.drawer-open {
    overflow: hidden;

    footer {
      visibility: hidden;
    }
  }
}

body {
  @include theme-color(var(--foreground));

  &.light {
    @include theme-color($light-foreground);
  }

  &.dark {
    @include theme-color($dark-foreground);
  }

  ::selection {
    color: $light-foreground;
    background-color: $orange-25;
  }
}
