@tailwind base;
@tailwind components;
@tailwind utilities;

@import "constants/index";
@import "effects/index";
@import "mixins";

:root {
  --foreground: #{$light-foreground};
  --background-start: #{$light-background-start};
  --background-end: #{$light-background-end};
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #{$dark-foreground};
    --background-start: #{$dark-background-start};
    --background-end: #{$dark-background-end};
  }
}

body {
  @include theme-colors(
    var(--foreground),
    var(--background-start),
    var(--background-end)
  );

  &.light {
    @include theme-colors(
      $light-foreground,
      $light-background-start,
      $light-background-end
    );
  }

  &.dark {
    @include theme-colors(
      $dark-foreground,
      $dark-background-start,
      $dark-background-end
    );
  }
}
