@import "../../styles/constants/index.scss";

.Chip {
  display: flex;
  background: $green_25;
  color: $white;
  border-radius: 16px;
  width: fit-content;

  &__Text {
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    font-size: 0.75rem;
  }
}
