@import "../../styles/mixins";

.Home {
  &__ThemeSwitcher {
    padding: 5rem;
    position: absolute;
    top: 0;
    right: 0;
  }

  &__MouseScrollContent {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
  }

  &__Section__ContactMe {
    @include blur();
  }
}
